[Match]
Name=wan0
Type=ether

[Link]
# Ensure 'systemd-networkd-wait-online.service' succeeds, even when
# this interface fails to configure (e.g. when the WAN port is not connected)
# https://www.freedesktop.org/software/systemd/man/latest/systemd.network.html#RequiredForOnline=
RequiredForOnline=no

[Network]
# Only WAN port will configure DNS for this system
DHCP=yes